@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Raleway-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Raleway-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 800;
  font-style: normal;
  src: url('../fonts/Nunito-ExtraBold.ttf') format('truetype');
}