// .ttf https://fonts.google.com/specimen/Nunito
// .woff https://globalfonts.pro/font/nunito

@font-face {
  font-family: 'Nunito';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Nunito-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Nunito-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 800;
  font-style: normal;
  src: url('../fonts/Nunito-ExtraBold.ttf') format('truetype');
}